body {
    background-color: #f8f9fa;
  }
  
  .header-section {
    position: relative;
    height: 200px;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d7c7c7;
    overflow: hidden;
  }
  
  .header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .header-text {
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

   .container {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 50px;
  }
  
  .form-group {
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
  }

  .form-group:hover {
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 4px;
  }

  .form-control {
    padding: 10px;
    border-radius: 4px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .custom-button {
    background-color: #000000;
    color: #100e0e;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 4px 8px rgba(61, 99, 105, 0.2);
    font-size: 25px;
    font-display: white;
    padding: 10px 40px;
    width: 300px;
    border: none;
    margin: 0 10px;
    border-radius: 4px;
  }

  .btnbtn-secondary:hover {
    background-color: #00e5f5;
    color: #ffffff;
  }
  #adminChoices button {
    margin-bottom: 10px;
  }

  